.bookImg {
  object-fit: cover;
  height: 140px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(225, 232, 237);
}
.card-title {
  font-size: 16px;
  margin-bottom: 0px !important;
  color: #292f33;
}
.btn-group {
  margin: 0 auto;
  text-align: center !important;
  width: inherit;
  display: inline-block;
}
.list-group-item {
  padding: 5px 10px 10px !important;
}
.card-text {
  color: #66757f !important;
}
